form {
    display: flex;
    flex-direction: column;
  
    .form_section {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
  
        label {
            width: 100%;
            display: flex;
            flex-direction: column;
            line-height: var(--h3-font);
            font-size: var(--semi-font);
        }
        
        label input, textarea {
            background: #16161A;
            color: lightgray;
            border: 1px solid transparent;
            padding: 0.9rem;
            margin-top: 7px;
            font-family: 'air-regular';
        }
        
        label input:focus, textarea:focus {
            border-color: rgb(75, 75, 75);
            outline: none;
        }
        
        label input::placeholder, textarea::placeholder  {
            color: #777778;
            font-size: var(--small-font);
            line-height: 2;
            font-family: 'air-regular';
        }
        
        button {
            background-color: #16161A;
            color: #fff;
            border: none;
            padding: 0.9rem;
            font-size: var(--semi-font);
            font-family: 'air-regular';
        }
        
        button:focus {
            outline: none;
            border: none;
        }
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        border-color: rgb(75, 75, 75);
        box-shadow: 0 0 0 30px #16161A inset !important;
        -webkit-box-shadow: 0 0 0 30px #16161A inset !important; 
        -webkit-text-fill-color: #777778;
    }
}

.success {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #101011;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
  
    h1 {
        font-size: 700%;
        margin: 0;
        text-align: center;
    }
    
    h2 {
        margin: 0;
        text-align: center;
        position: relative;
        top: -10px;
    }
    
    p {
        margin: 0;
        text-align: center;
        position: relative;
        color: #777778;
        line-height: 1.5;
    }
}