.resume_container {
    display: flex;
    flex-direction: column;
    background-color: #16161A;
    padding: 5%;
  
    .top_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        h2 {
            font-size: var(--h2-font);
            line-height: 47px;
            margin: 0;
        }
        
        .buttons {
            display: flex;
            justify-content: space-between;
            align-self: flex-start;
        }
        
        .buttons a {
            margin: 5px;
            color: inherit;
            text-decoration: none;
            font-size: var(--normal-font);
        }
    }
    
    .subheading {
        margin: 6px 0;
        color: #cfcfcf;
        font-size: var(--semi-font);
    }
    
    .summary {
        margin-top: 5px;
    
        p {
            font-size: var(--normal-font);
            line-height: 1.5;
            color: #777778;
            font-family: 'air-light';
            font-size: 14px;
            margin-top: 10px;
        }
    }
    
    .divider {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
    
        p {
            margin: 0 10px 0 0;
            font-size: var(--normal-font);
            color: #e2e2e2;
        }
        
        span {
            flex-grow: 1;
            height: 1px;
            background-color: #777778;
        }
    }
    
    .skills p {
        font-size: 14px;
        font-family: 'air-light';
        color: #777778;
        display: flex;
        margin: 0;
        line-height: 2;
    }
    
    .exp_container .experience{
        .title {
            margin: 0;
            /* font-size: 15px; */
            font-size: var(--semi-font);
            line-height: 2;

            span {
                font-size: 14px;
                color: #777778;
                margin-left:5px;
            }
        }
        
        a {
            color: #fff
        }
        
        .description {
            display: block;
            line-height: 1.5;
            color: #777778;
            margin: 10px 0;
            padding: 0;

            p {
                margin: 2px 0;
                width: 100%;
                color:  #777778;
                font-size: 14px;
                display: flex;
                font-family: 'air-light';

                span {
                    margin-right: 5px;
                }
            }
        }
    }
}
  
.resume .go_button_container {
    display: none;
}
  
@media (max-width: 993px) {
.resume_container {
    margin: 30px 0;

    .top_row .buttons {
            align-self: unset;
    
        span {
            display: none;
        }
    
        a {
            margin: 7px;
            font-size: 20px;
        }
    }
}

.resume .go_button_container {
    display: flex;
    margin-bottom: 20px;
    }
}